<div class="container-fluid footer">
  <div class="row">
    <!-- name -->
    <div class="col-lg-3">
      <h1>WebKitchen</h1>
      <p>Good Food, Better Prices.</p>
    </div>
    <!-- nav -->
    <div class="col-lg-6 text-center my-auto pt-1">
      <a routerLink="">Home</a>
      <a routerLink="menu">Menu</a>
      <a routerLink="about">About</a>
      <a routerLink="contact">Contact</a>
    </div>
    <!-- socials -->
    <div class="col-lg-3 my-auto text-center pt-1">
      <a title="Facebook" href="#" target="_blank"><i class="bi bi-facebook"></i></a>
      <a title="Whatsapp" href="#" target="_blank"><i class="bi bi-whatsapp"></i></a>
      <a title="Instagram" href="#" target="_blank"><i class="bi bi-instagram"></i></a>
      <a title="Twitter" href="#" target="_blank"><i class="bi bi-twitter"></i></a>
      <a title="YouTube" href="#" target="_blank"><i class="bi bi-youtube"></i></a>
    </div>
  </div>
</div>
