.footer
{
  color: #fff;
  background-color: rgba(33, 37, 41, 1);
  padding: 20px 10px;
  overflow: hidden;
  position: sticky;
  top: 100%;
}

h1
{
  font-size: 20px;
  font-weight: bold;
}

p
{
  font-size: 16px;
}

a
{
  color: #fff;
  text-decoration: none;
  padding: 0 10px;
  font-size: 16px;
}

a:hover
{
  color: var(--primary-color);
}

i
{
  padding: 0 10px;
}

@media screen and (max-width: 600px)
{
  h1
  {
    margin: 0px;
  }

  p
  {
    margin: 0 0 10px;
  }
  .iconsmobile
  {
    padding-top: 10px !important;
  }

  .iconsmobile i
  {
    padding: 0px;
  }
}
