<div class="container my-5">
  <h1 class="text-center">About</h1>
  <div class="row mt-5 rowmobile">
    <div class="col-lg-4">
      <img src="../../../assets/restaurant.jpg" alt="image of restaurant" />
    </div>
    <div class="col-lg-8">
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni
        nobis molestiae dolore recusandae ad est assumenda optio minus eaque
        blanditiis sunt natus aspernatur dignissimos esse sint ea doloremque
        laboriosam obcaecati, omnis reprehenderit! Exercitationem eaque
        inventore ullam iste iusto, molestiae provident ratione culpa vitae
        natus ipsam temporibus veritatis omnis distinctio consequuntur molestias
        maiores eius nihil, veniam ea deserunt voluptate! Natus suscipit
        explicabo temporibus aut doloribus accusantium ea recusandae esse
        praesentium fugiat, dolorem expedita, eius deserunt voluptatem, quas
        reprehenderit accusamus numquam velit! Quaerat repudiandae labore nam
        ipsam, maiores provident tempora laudantium similique, delectus at
        magnam aspernatur, nesciunt sapiente. Praesentium omnis dolorum,
        cupiditate, eum maxime temporibus consequuntur consequatur sit error,
        delectus non. Sequi consequatur dolores accusantium, dolorum libero
        obcaecati odio? Ipsa assumenda neque facere, sed, ab est numquam, id
        culpa quidem repellendus ut laborum ratione? Quos neque esse ad hic
        repellendus? Odit dicta atque dignissimos eveniet at, tempora rem illo
        maxime aliquid veritatis.
        <br /><br />
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis
        eos assumenda unde quam ratione tempora impedit maiores sapiente
        nesciunt? Non quidem quibusdam modi accusantium aperiam aliquam nisi
        rerum, temporibus magni voluptas alias dolor iure aliquid qui possimus
        mollitia aut, ipsa ab laboriosam porro reiciendis dignissimos. Animi,
        sit amet nemo sunt commodi delectus facilis in quaerat ea ipsa maiores,
        dolor neque incidunt dicta ipsam reiciendis! Quo, autem corrupti,
        maiores ex labore ullam, alias vel quis similique consequuntur
        cupiditate ut esse dolores nemo quasi. Maxime, quis. Similique sed a vel
        iure ea, quibusdam culpa earum ratione. Vero voluptatum laudantium, eos
        eum dolores quod magni perferendis alias a odit officiis quos sapiente
        omnis.
        <br /><br />
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Incidunt nisi quasi vero cupiditate nobis, officiis placeat similique
        iusto minima distinctio nihil, harum in doloribus, aut suscipit totam
        deserunt! Unde aut iure, architecto quasi iste dolor, nulla ut ex
        facilis libero maxime optio eveniet quos ea. Porro velit cupiditate,
        dolore quibusdam consequatur alias harum quaerat ducimus, iure nesciunt
        ullam labore optio ipsa, vero iusto? Illum minima odit fugiat, rem
        recusandae tenetur quis? Odio quaerat amet consequuntur nesciunt
        officiis reiciendis! Velit provident tenetur deserunt delectus. Ipsa
        debitis doloribus commodi libero quos. Dolores nulla distinctio ea animi
        quidem delectus incidunt ullam corrupti ducimus? Aliquid, a
        voluptatibus! Harum quidem earum aut reiciendis praesentium provident,
        adipisci sed sequi laboriosam quisquam ipsam quaerat, inventore
        necessitatibus facilis suscipit quod facere perferendis quae neque
        impedit repudiandae veniam nulla temporibus beatae. Tempore vero
        repellat sed minima officia. Illum vero fuga obcaecati, inventore minus
        libero odit a ipsum unde aut eaque! Tenetur, nobis illo! Perferendis id
        quia, quisquam nisi inventore rerum possimus odit doloremque aliquid
        veritatis ut at sapiente fugit rem repellat vero iusto, dolores est
        voluptatibus! Nisi officia id molestiae recusandae quidem inventore fuga
        odit aspernatur, sequi accusamus quas. Natus possimus vero quisquam? Eos
        vero laborum ratione repudiandae voluptatibus.
      </p>
    </div>
  </div>
</div>
